<div class="card">
    <div class="card-header">
        <h3 class="card-title">Folders</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body p-0">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item active">
                <a href="/Message/MessageList" class="nav-link">
                    <i class="fas fa-inbox"></i> Inbox
                    <span class="badge bg-primary float-right">@ViewBag.V1</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="far fa-envelope"></i> Sent
                </a>
            </li>
            <li class="nav-item">
                <a href="/AdminOperations/UserAdmin/UserAdminList" class="nav-link">
                    <i class="fas fa-user"></i>
                    User And Admin
                    <span class="badge bg-warning float-right">@ViewBag.V2</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- /.card-body -->
</div>
