<!--/stats-->
<section class="stats py-lg-5 py-4" id="stats">
    <div class="gallery-inner container py-md-5 py-4">
        <div class="row mt-lg-5 stats-con text-white">
            <div class="col-sm-3 col-6 stats_info counter_grid">

                <i class="far fa-lightbulb"></i>
                <p class="counter">645</p>
                <h4>
                    Number of Entities
                </h4>

            </div>
            <div class="col-sm-3 col-6 stats_info counter_grid1">

                <i class="far fa-heart"></i>
                <p class="counter">563</p>
                <h4>
                    Number of Messages
                </h4>

            </div>
            <div class="col-sm-3 col-6 stats_info counter_grid">

                <i class="fas fa-magic"></i>
                <p class="counter">1145</p>
                <h4>
                    Number of Comments
                </h4>

            </div>
            <div class="col-sm-3 col-6 stats_info counter_grid2">

                <i class="far fa-smile"></i>
                <p class="counter">1045</p>
                <h4>
                    Number of Users
                </h4>

            </div>
        </div>
    </div>
</section>
<!--//stats-->
<!-- /testimonials -->
<div class="testimonials py-lg-5 py-4" id="clients">
    <div class="testimonials-inner container py-lg-4 py-3">
        <h4 class="sub-tittle-w3 text-uppercase text-center">
            Short Notes
        </h4>
        <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3 text-center">
            All Details of the Project
        </h3>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="testimonials_grid center">
                        <div class="testimonials_grid-inn text-uppercase">
                            <i class="fas fa-quote-left"></i>
                            <p>Lorem ipsum dolor sit amet,Maecenas interdum magna quam egestas sem, ac scelerisque nisl nibh vel lacus. Proin eget gravida odio. Donec ullamcorper est eu accumsan cursus.</p>
                        </div>
                        <h3>Gretchen </h3>

                        <label>United States</label>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonials_grid text-center">
                        <div class="testimonials_grid-inn text-uppercase">
                            <i class="fas fa-quote-left"></i>
                            <p>Lorem ipsum dolor sit amet,Maecenas interdum magna quam egestas sem, ac scelerisque nisl nibh vel lacus. Proin eget gravida odio. Donec ullamcorper est eu accumsan cursus.</p>
                        </div>
                        <h3>
                            Anne Marc

                        </h3>
                        <label>United States</label>

                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonials_grid">
                        <div class="testimonials_grid-inn text-uppercase">
                            <i class="fas fa-quote-left"></i>
                            <p>Maecenas interdum, metus vitae tincidunt porttitor, magna quam egestas sem, ac scelerisque nisl nibh vel lacus. Proin eget gravida odio. Donec ullamcorper est eu accumsan cursus.</p>

                        </div>
                        <h3>
                            Harry Baker

                        </h3>
                        <label>United States</label>

                    </div>
                </div>
                <a class="carousel-control-prev test" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="fas fa-long-arrow-alt-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next test" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="fas fa-long-arrow-alt-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>

                </a>
            </div>
        </div>
    </div>
</div>
<!-- //testimonials -->
