<!-- /services -->
<section class="services py-md-5 py-4" id="services">
    <div class="container">
        <div class="inner-sec-w3ls py-md-5 py-4">
            <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3 text-center text-white">
                What I Did in This Project
            </h3>
            <div class="price-right">
                <div class="tabs">
                    <ul class="nav nav-pills my-md-5 my-3 justify-content-center" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">
                                What I Did 1
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
                                What I Did 2
                            </a>
                        </li>

                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <div class="menu-grids mt-4">
                                <div class="row t-in">
                                    <div class="col-lg-4 service-in text-center" data-aos="flip-up">
                                        <div class="card">
                                            <div class="card-body">
                                                <i class="fas fa-list-ul mb-4"></i>
                                                <h5 class="card-title text-uppercase">MSSQL Database</h5>
                                                <p class="card-text">
                                                    We used database connection with MSSQL Code First Technology.
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-4 service-in text-center" data-aos="flip-up">
                                        <div class="card">
                                            <div class="card-body">
                                                <i class="far fa-lightbulb mb-4"></i>
                                                <h5 class="card-title text-uppercase">
                                                    Design Tools
                                                </h5>
                                                <p class="card-text">
                                                    We used MVC Framework Design Pattern and Bootstrap Template.
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-4 service-in text-center" data-aos="flip-up">
                                        <div class="card">
                                            <div class="card-body">
                                                <i class="far fa-clone mb-4"></i>
                                                <h5 class="card-title text-uppercase">
                                                    My Project
                                                </h5>
                                                <p class="card-text">
                                                    We created E-Commerce Website with Asp.Net Core Mvc 6.0
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <div class="menu-grids mt-4">
                                <div class="row t-in">
                                    <div class="col-lg-4 service-in text-center">
                                        <div class="card">
                                            <div class="card-body">
                                                <i class="far fa-heart mb-4"></i>
                                                <h5 class="card-title">User Friendly</h5>
                                                <p class="card-text">Lorem ipsum dolor sit amet consectetur elit,Adipisicing elit tempor.</p>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-4 service-in text-center">
                                        <div class="card">
                                            <div class="card-body">
                                                <i class="fas fa-magic mb-4"></i>
                                                <h5 class="card-title">Web Development</h5>
                                                <p class="card-text">Lorem ipsum dolor sit amet consectetur elit,Adipisicing elit tempor.</p>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-lg-4 service-in text-center">
                                        <div class="card">
                                            <div class="card-body">
                                                <i class="fas fa-sliders-h mb-4"></i>
                                                <h5 class="card-title">Portfolio Options</h5>
                                                <p class="card-text">Lorem ipsum dolor sit amet consectetur elit,Adipisicing elit tempor.</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //services -->