<!--gallery  -->
<section class="gallery py-md-5 py-3" id="projects">
    <div class="gallery-inner container py-md-5 pb-3">
        <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3 text-center">
            Images of the Project I Developed
        </h3>
        <div class="row">
            <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
                <div class="section_1_gallery_grid">
                    <a title="First we need to login." href="/imgs/Resim1.png">
                        <div class="section_1_gallery_grid1">
                            <img src="/imgs/Resim1.png" class="img-fluid" style="height:350px; width:350px; object-fit:cover;" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>
                                    Detail
                                </h3>

                            </div>
                        </div>
                    </a>
                </div>
                
            </div>


            <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
                <div class="section_1_gallery_grid">
                    <a title="If it is not registered on the website, it must be registered." href="/imgs/Resim2.png">
                        <div class="section_1_gallery_grid1">
                            <img src="/imgs/Resim2.png" class="img-fluid" style="height:350px; width:350px; object-fit:cover;" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Detail</h3>

                            </div>
                        </div>
                    </a>
                </div>

            </div>


            <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
                <div class="section_1_gallery_grid">
                    <a title="After logging in, you can start shopping :)" href="/imgs/Resim3.png">
                        <div class="section_1_gallery_grid1">
                            <img src="/imgs/Resim3.png" class="img-fluid" style="height:350px; width:350px; object-fit:cover;" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Detail</h3>

                            </div>
                        </div>
                    </a>
                </div>

            </div>

            <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
                <div class="section_1_gallery_grid">
                    <a title="This week's bestsellers." href="/imgs/Resim4.png">
                        <div class="section_1_gallery_grid1">
                            <img src="/imgs/Resim4.png" class="img-fluid" style="height:350px; width:350px; object-fit:cover;" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Detail</h3>

                            </div>
                        </div>
                    </a>
                </div>

            </div>


            <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
                <div class="section_1_gallery_grid">
                    <a title="If you like our website, you can write to us here if you like it or not." href="/imgs/Resim5.png">
                        <div class="section_1_gallery_grid1">
                            <img src="/imgs/Resim5.png" class="img-fluid" style="height:350px; width:350px; object-fit:cover;" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Detail</h3>

                            </div>
                        </div>
                    </a>
                </div>

            </div>



            <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
                <div class="section_1_gallery_grid">
                    <a title="You can choose your gender." href="/imgs/Resim6.png">
                        <div class="section_1_gallery_grid1">
                            <img src="/imgs/Resim6.png" class="img-fluid" style="height:350px; width:350px; object-fit:cover;" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Detail</h3>

                            </div>
                        </div>
                    </a>
                </div>

            </div>



            <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
                <div class="section_1_gallery_grid">
                    <a title="Select category." href="/imgs/Resim7.png">
                        <div class="section_1_gallery_grid1">
                            <img src="/imgs/Resim7.png" class="img-fluid" style="height:350px; width:350px; object-fit:cover;" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Detail</h3>

                            </div>
                        </div>
                    </a>
                </div>

            </div>



            <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
                <div class="section_1_gallery_grid">
                    <a title="Select the product according to the category you choose." href="/imgs/Resim8.png">
                        <div class="section_1_gallery_grid1">
                            <img src="/imgs/Resim8.png" class="img-fluid" style="height:350px; width:350px; object-fit:cover;" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Detail</h3>

                            </div>
                        </div>
                    </a>
                </div>

            </div>


            


            <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
                <div class="section_1_gallery_grid">
                    <a title="You can comment on the product you have chosen or you can see the comments made on this product :)" href="/imgs/Resim9.png">
                        <div class="section_1_gallery_grid1">
                            <img src="/imgs/Resim9.png" class="img-fluid" style="height:350px; width:350px; object-fit:cover;" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Detail</h3>

                            </div>
                        </div>
                    </a>
                </div>

            </div>


            <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
                <div class="section_1_gallery_grid">
                    <a title="You can add the product of your choice to the basket." href="/imgs/Resim10.png">
                        <div class="section_1_gallery_grid1">
                            <img src="/imgs/Resim10.png" class="img-fluid" style="height:350px; width:350px; object-fit:cover;" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Detail</h3>

                            </div>
                        </div>
                    </a>
                </div>

            </div>

            <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
                <div class="section_1_gallery_grid">
                    <a title="You can buy the products in the basket." href="/imgs/Resim11.png">
                        <div class="section_1_gallery_grid1">
                            <img src="/imgs/Resim11.png" class="img-fluid" style="height:350px; width:350px; object-fit:cover;" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Detail</h3>

                            </div>
                        </div>
                    </a>
                </div>

            </div>




            <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
                <div class="section_1_gallery_grid">
                    <a title="And finally, your order has been received successfully, you pay at the door." href="/imgs/Resim12.png">
                        <div class="section_1_gallery_grid1">
                            <img src="/imgs/Resim12.png" class="img-fluid" style="height:350px; width:350px; object-fit:cover;" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Detail</h3>

                            </div>
                        </div>
                    </a>
                </div>

            </div>



            <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
                <div class="section_1_gallery_grid">
                    <a title="If we want, we can see the My Order List order." href="/imgs/Resim13.png">
                        <div class="section_1_gallery_grid1">
                            <img src="/imgs/Resim13.png" class="img-fluid" style="height:350px; width:350px; object-fit:cover;" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Detail</h3>

                            </div>
                        </div>
                    </a>
                </div>

            </div>



            <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
                <div class="section_1_gallery_grid">
                    <a title="We came to the admin part of our website :)" href="/imgs/Resim14.png">
                        <div class="section_1_gallery_grid1">
                            <img src="/imgs/Resim14.png" class="img-fluid" style="height:350px; width:350px; object-fit:cover;" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Detail</h3>

                            </div>
                        </div>
                    </a>
                </div>

            </div>



            <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
                <div class="section_1_gallery_grid">
                    <a title="If we want in the admin section, we can update our information from My Profile." href="/imgs/Resim15.png">
                        <div class="section_1_gallery_grid1">
                            <img src="/imgs/Resim15.png" class="img-fluid" style="height:350px; width:350px; object-fit:cover;" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Detail</h3>

                            </div>
                        </div>
                    </a>
                </div>

            </div>



            <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
                <div class="section_1_gallery_grid">
                    <a title="In the admin section, we can see the users registered to this website." href="/imgs/Resim16.png">
                        <div class="section_1_gallery_grid1">
                            <img src="/imgs/Resim16.png" class="img-fluid" style="height:350px; width:350px; object-fit:cover;" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Detail</h3>

                            </div>
                        </div>
                    </a>
                </div>

            </div>


            <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
                <div class="section_1_gallery_grid">
                    <a title="We can see, update, delete, add a new Category." href="/imgs/Resim17.png">
                        <div class="section_1_gallery_grid1">
                            <img src="/imgs/Resim17.png" class="img-fluid" style="height:350px; width:350px; object-fit:cover;" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Detail</h3>

                            </div>
                        </div>
                    </a>
                </div>

            </div>


            <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
                <div class="section_1_gallery_grid">
                    <a title="We can see, update, delete, add a new Product." href="/imgs/Resim18.png">
                        <div class="section_1_gallery_grid1">
                            <img src="/imgs/Resim18.png" class="img-fluid" style="height:350px; width:350px; object-fit:cover;" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Detail</h3>

                            </div>
                        </div>
                    </a>
                </div>

            </div>




            <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
                <div class="section_1_gallery_grid">
                    <a title="We can view, update and delete comments made to products here." href="/imgs/Resim20.png">
                        <div class="section_1_gallery_grid1">
                            <img src="/imgs/Resim20.png" class="img-fluid" style="height:350px; width:350px; object-fit:cover;" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Detail</h3>

                            </div>
                        </div>
                    </a>
                </div>

            </div>



            <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
                <div class="section_1_gallery_grid">
                    <a title="We can view, delete and update messages made to our Website." href="/imgs/Resim21.png">
                        <div class="section_1_gallery_grid1">
                            <img src="/imgs/Resim21.png" class="img-fluid" style="height:350px; width:350px; object-fit:cover;" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Detail</h3>

                            </div>
                        </div>
                    </a>
                </div>

            </div>



            <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
                <div class="section_1_gallery_grid">
                    <a title="We can delete, update and add this week's top selling products here." href="/imgs/Resim22.png">
                        <div class="section_1_gallery_grid1">
                            <img src="/imgs/Resim22.png" class="img-fluid" style="height:350px; width:350px; object-fit:cover;" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Detail</h3>

                            </div>
                        </div>
                    </a>
                </div>

            </div>




            <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
                <div class="section_1_gallery_grid">
                    <a title="We can see all the orders made by the users." href="/imgs/Resim23.png">
                        <div class="section_1_gallery_grid1">
                            <img src="/imgs/Resim23.png" class="img-fluid" style="height:350px; width:350px; object-fit:cover;" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Detail</h3>

                            </div>
                        </div>
                    </a>
                </div>

            </div>


            <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
                <div class="section_1_gallery_grid">
                    <a title="Shipping the selected order." href="/imgs/Resim24.png">
                        <div class="section_1_gallery_grid1">
                            <img src="/imgs/Resim24.png" class="img-fluid" style="height:350px; width:350px; object-fit:cover;" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Detail</h3>

                            </div>
                        </div>
                    </a>
                </div>

            </div>


            <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
                <div class="section_1_gallery_grid">
                    <a title="View all orders shipped." href="/imgs/Resim25.png">
                        <div class="section_1_gallery_grid1">
                            <img src="/imgs/Resim25.png" class="img-fluid" style="height:350px; width:350px; object-fit:cover;" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Detail</h3>

                            </div>
                        </div>
                    </a>
                </div>

            </div>


            
        </div>


        <!-- //gallery container -->
    </div>
</section>
<!-- //gallery -->
