<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <!-- Add icons to the links using the .nav-icon class
         with font-awesome or any other icon font library -->
    <li class="nav-item">
        <a href="/AdminOperations/MyProfile/Index" class="nav-link">
            <i class="fas fa-user"></i>  <b>My Profile</b>
        </a>
    </li>

    <li class="nav-item">
        <a href="/AdminOperations/UserAdmin/UserAdminList" class="nav-link">
            <i class="fas fa-plus"></i>  <b>Users And Admins</b>
        </a>
    </li>

    <li class="nav-item">
        <a href="/AdminOperations/Category/CategoryList" class="nav-link">
            <i class="fas fa-star"></i>  <b>Categories</b>
        </a>
    </li>
    
    <li class="nav-item">
        <a href="/AdminOperations/Product/ProductList" class="nav-link">
            <i class="fas fa-shopping-bag"></i>  <b>Products</b>
        </a>
    </li>

    <li class="nav-item">
        <a href="/AdminOperations/Comment/CommentList" class="nav-link">
            <i class="fas fa-comment"></i>  <b>Comments</b>
        </a>
    </li>

    <li class="nav-item">
        <a href="/Message/MessageList" class="nav-link">
            <i class="fas fa-comment-alt"></i>  <b>Messages</b>
        </a>
    </li>



    <li class="nav-item">
        <a href="/AdminOperations/BestSellers/BestSellersList" class="nav-link">
            <i class="fas fa-trophy"></i>  <b>Best Sellers</b>
        </a>
    </li>


    <li class="nav-item">
        <a href="/AdminOperations/Order/OrderAllList" class="nav-link">
            <i class="fas fa-shopping-cart"></i>  <b>All Orders</b>
        </a>
    </li>

    <li class="nav-item">
        <a href="/AdminOperations/Cargo/CargoList" class="nav-link">
            <i class="fa fa-truck"></i>  <b>All Cargos</b>
        </a>
    </li>

    <li class="nav-item">
        <a href="/Logout/Index/" class="nav-link">
            <i class="fas fa-sign-out-alt"></i>  <b>Logout</b>
        </a>
    </li>
</ul>