<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Welcome E-Ticaret Website</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Recognize Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/User/assets/favicon.ico" />
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link rel="stylesheet" href="~/Home_Template/css/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link href="~/Home_Template/css/simpleLightbox.css" rel='stylesheet' type='text/css' />
    <link href="~/Home_Template/css/roadmap.css" rel="stylesheet" type="text/css" />
    <!-- Banner-Slider-CSS -->
    <link rel="stylesheet" href="~/Home_Template/css/snow.css">
    <link rel="stylesheet" href="~/Home_Template/css/aos.css">
    <link href='~/Home_Template/css/aos-animation.css' rel='stylesheet prefetch' type="text/css" media="all" />
    <link rel="stylesheet" href="~/Home_Template/css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <link rel="stylesheet" href="~/Home_Template/css/fontawesome-all.css">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,400,400i,500,500i,700,700i,900" rel="stylesheet">
    <!-- //Fonts -->

</head>

<body>
    
    @RenderBody()



    <!--/footer-->
    <footer class="footer text-left">
        <div class="container py-4 py-sm-5">

            <div class="row py-sm-4 py-3">
                <div class="col-lg-2 col-md-4">
                    <ul class="list-footer" data-aos="fade-up">
                        <li>
                            <a href="#home" class="nav-link scroll">
                                Home
                            </a>
                        </li>
                        <li class="my-2">
                            <a href="#about" class="nav-link scroll">
                                About
                            </a>
                        </li>
                        <li class="my-2">
                            <a href="#services" class="nav-link scroll">
                                Projects
                            </a>
                        </li>
                        <li class="mb-2">
                            <a href="#projects" class="nav-link scroll">
                                Gallery
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 mt-sm-5">
                    <ul class="list-footer" data-aos="fade-up">
                        <li>
                            <a href="/Login/Index">Login</a>
                        </li>
                        <li class="my-2">
                            <a href="/Register/Index">Register</a>
                        </li>
                    </ul>
                </div>
                <div class="offset-lg-4"></div>
                <div class="col-lg-4 footer-end-grid mt-md-0 mt-sm-5" data-aos="fade-up">
                    <h2>
                        <a href="#">
                            ASP.NETCOREMVC6.0
                        </a>
                    </h2>
                </div>
            </div>
            <hr>
            <div class="d-flex justify-content-between pt-lg-3  footer-bottom-cpy">
                <div class="copy-right-w3ls">
                    <p>

                        <strong>Copyright &copy; @DateTime.Now.Year </strong>
                        All rights reserved | Design by
                        <a href="http://w3layouts.com/"> W3layouts </a>

                    </p>
                </div>
                <div class="social-content pb-md-0 pb-4">
                    <ul class="social-icons text-center d-flex">
                        <li class="ml-lg-5">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--//footer-->
    <script src="~/Home_Template/js/jquery-2.2.3.min.js"></script>
    <!-- banner-type-text -->
    <script src='~/Home_Template/js/aos.js'></script>
    <script>
        AOS.init({
            easing: 'ease-out-back',
            duration: 1000
        });

    </script>
    <!-- sticky nav bar-->
    <script>
        $(() => {

            //On Scroll Functionality
            $(window).scroll(() => {
                var windowTop = $(window).scrollTop();
                windowTop > 100 ? $('nav').addClass('navShadow') : $('nav').removeClass('navShadow');
                windowTop > 100 ? $('ul.nav-honey').css('top', '50px') : $('ul.nav-honey').css('top', '160px');
            });

            //Click Logo To Scroll To Top
            $('#logo').on('click', () => {
                $('html,body').animate({
                    scrollTop: 0
                }, 500);
            });

            //            //Smooth Scrolling Using Navigation Menu
            //            $('a[href*="#"]').on('click', function(e) {
            //                $('html,body').animate({
            //                    scrollTop: $($(this).attr('href')).offset().top - 100
            //                }, 500);
            //                e.preventDefault();
            //            });

            //Toggle Menu
            $('#menu-toggle').on('click', () => {
                $('#menu-toggle').toggleClass('closeMenu');
                $('ul').toggleClass('showMenu');

                $('li').on('click', () => {
                    $('ul').removeClass('showMenu');
                    $('#menu-toggle').removeClass('closeMenu');
                });
            });

        });

    </script>
    <!-- //sticky nav bar -->
    <!-- Include jQuery Timeline Plugin -->
    <script src="~/Home_Template/js/jquery.roadmap.js"></script>

    <script>
        $(document).ready(function () {

            var events = [{
                date: 'Oct 2018 - Present',
                content: 'Company Name <small>Co-founder, Front-end Designer</small>'
            },
            {
                date: '2016 - 2018',
                content: 'Company Name <small>Senior Visual Designer</small>'
            },
            {
                date: '2013 - 2016',
                content: 'Company Name <small>Mid-level Designer</small>'
            },
            {
                date: '2012 - 2013',
                content: 'Company Name <small>Mid-level Designer</small>'
            },
            {
                date: '2012 - 2013',
                content: 'Company Name <small>Freelance</small>'
            },
            {
                date: '2011 - 2012',
                content: 'San Diego university  <small>For Design</small>'
            },
            {
                date: '2010 - 2011',
                content: 'New York university  <small>For Graphic Design</small>'
            },

            {
                date: '2009 - 2010',
                content: 'New York university  <small>For Graphic Design</small>'
            },

            {
                date: '2008 - 2009',
                content: 'New York university  <small>For Graphic Design</small>'
            },
            {
                date: '2005 - 2008',
                content: 'Lorem Ipsum  <small>Add Description</small>'
            },
            {
                date: '2003 - 2005',
                content: 'Lorem IPsum  <small>Add Description</small>'
            },
            {
                date: '2001 - 2003',
                content: 'Lorem IPsum  <small>Add Description</small>'
            }
            ];

            $('#my-timeline').roadmap(events, {
                eventsPerSlide: 6,
                slide: 1,
                prevArrow: '<i class="fas fa-chevron-left"></i>',
                nextArrow: '<i class="fas fa-chevron-right"></i>'
            });
        });

    </script>
    <!-- simpleLightbox -->
    <script src="~/Home_Template/js/simpleLightbox.js"></script>
    <script>
        $('.proj_gallery_grid a').simpleLightbox();

    </script>
    <!-- //simpleLightbox -->
    <!-- stats -->
    <script src="~/Home_Template/js/jquery.waypoints.min.js"></script>
    <script src="~/Home_Template/js/jquery.countup.js"></script>
    <script>
        $('.counter').countUp();

    </script>
    <!-- //stats -->
    <!--/ start-smoth-scrolling -->
    <script src="~/Home_Template/js/move-top.js"></script>
    <script src="~/Home_Template/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });

    </script>
    <script>
        $(document).ready(function () {
            /*
                                    var defaults = {
                                          containerID: 'toTop', // fading element id
                                        containerHoverID: 'toTopHover', // fading element hover id
                                        scrollSpeed: 1200,
                                        easingType: 'linear'
                                     };
                                    */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });

    </script>
    <!--// end-smoth-scrolling -->
    <!-- //js -->
    <script src="~/Home_Template/js/bootstrap.js"></script>
</body>
</html>

