<!doctype html>
<html lang="en">
<head>
	<title>Welcome</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="icon" type="image/x-icon" href="~/User/assets/favicon.ico" />
	<link rel="stylesheet" href="~/Admin/plugins/fontawesome-free/css/all.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="~/NewLoginandRegister/css/style.css">

</head>
<body class="img js-fullheight" style="background-image: url(/NewLoginandRegister/images/bg.jpg);">
	<section class="ftco-section">
		<div class="container">
			@RenderBody()
		</div>
	</section>
	<script src="~/NewLoginandRegister/js/jquery.min.js"></script>
	<script src="~/NewLoginandRegister/js/popper.js"></script>
	<script src="~/NewLoginandRegister/js/bootstrap.min.js"></script>
	<script src="~/NewLoginandRegister/js/main.js"></script>

</body>
</html>



