
@{
    ViewData["Title"] = "Index";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
	<title>My Profile</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Square Profile Widget a Flat Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />

	<link href="~/MyProfile/css/fontawesome-all.min.css" rel="stylesheet" type="text/css" media="all">
	<link href="~/MyProfile/css/style.css" rel='stylesheet' type='text/css' />
	@*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
	<!--webfonts-->

	<link href="//fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
	<!--//webfonts-->
	<!-- Favicon-->
	<link rel="icon" type="image/x-icon" href="~/User/assets/favicon.ico" />
</head>
<body>

	<!-- main -->

	<div class="center-container">

		<div class="w3ls_banner_info">


			<h1>Square Profile  </h1>
			<div class="profile">
				<div class="wrap">
					<div class="profile-main">
						<div class="profile-pic wthree">
							<img src="~/MyProfile/images/p1.jpeg" alt="">
							<h3>Eda</h3>
							<div class="w3ls-agile-left">
								<!---728x90--->

								<ul class="address">

									<li>
										<ul class="address-text">
											<li>
												<b>
													Date Of Birth
												</b>
											</li>
											<li>: </li>
											<li> <span class="w3">02-09-2002</span></li>
										</ul>
									</li>
									<li>
										<ul class="address-text">
											<li><b>Phone </b></li>
											<li>: </li>
											<li> <span class="w3">+123456789</span></li>
										</ul>
									</li>
									<li>
										<ul class="address-text">
											<li><b>Address </b></li>
											<li>: </li>
											<li> <span class="w3">Kartal/İstanbul </span></li>
										</ul>
									</li>
									<li>
										<ul class="address-text">
											<li><b>E-Mail </b></li>
											<li>: </li>
											<li><a href="mailto:example@mail.com"> <span class="w3">eda@example.com</span></a></li>
										</ul>
									</li>

								</ul>
								<div class="clear"></div>
							</div>

						</div>

						<div class="profile-ser">
							<h4>MY Skills</h4>
							<div class="awards-agileinfo  w3ls-section">
								<div class="awardsw3-agileits banner-agileinfo">
									<div class="container">
										<div class="w3ls_banner_bottom_grids">
											<div class=" w3ls_about_guage">
												<div class="demo">

													<div class="demo-1" data-percent="90"></div>
													<h4>C#</h4>
												</div>
											</div>
											<div class=" w3ls_about_guage">
												<div class="demo">

													<div class="demo-1" data-percent="75"></div>
													<h4>SQL</h4>
												</div>
											</div>
											<div class=" w3ls_about_guage">
												<div class="demo">

													<div class="demo-1" data-percent="85"></div>
													<h4>Design</h4>
												</div>
											</div>
											<div class="clear"> </div>
										</div>
									</div>
								</div>

							</div>
							<!-- //Awards-->

						</div>
						<div class="clear"> </div>
						<br />
						<a href="/Home/Index" class="btn btn-info text-white"><b>Cancel</b>  <i class="fas fa-sign-out-alt"></i></a>
					</div>
					
				</div>
			</div>
			<!--footer-->
			<div class="footer-w3">
				<p>&copy; @DateTime.Now.Year | Design by <a href="http://w3layouts.com">W3layouts</a></p>
			</div>
			<!--//footer-->

		</div>
	</div>
	<!-- //main -->

	<script src="~/MyProfile/js/jquery.min.v3.js"></script>
	<script src="~/MyProfile/js/jquery.circlechart.js"></script>
	<script>
		$('.demo-1').percentcircle();

		$('.demo-2').percentcircle({
		animate : false,
		diameter : 100,
		guage: 3,
		coverBg: '#000',
		bgColor: '#ff0000',
		fillColor: '#000',
		percentSize: '50px',
		percentWeight: 'normal'
		});


	</script>
	<script type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-36251023-1']);
		_gaq.push(['_setDomainName', 'jqueryscript.net']);
		_gaq.push(['_trackPageview']);

		(function() {
		  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>


</body>
</html>

