
@{
    ViewData["Title"] = "Comment";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="row">
    <div class="col-4 offset-4">
        <h1><i class="fa fa-star" aria-hidden="true"></i></h1>
        <h1 class="display-4 border-bottom text-center pb-2">
            <b>
                Successfully Added Comment To This Product
            </b>
        </h1>
        <br />
        @*<h6><i class="fa fa-credit-card" aria-hidden="true"></i>  Payment will be at the door!!!!</h6>*@
    </div>
</div>
<br />
<a href="/User/User" class="btn btn-danger text-white"><i class="fa fa-refresh" aria-hidden="true"></i>  <b>Turn Back</b></a>


