@model EntityLayer.Concrete.CommentTable
@{
    ViewData["Title"] = "Comment Leave";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="row">
    <div class="col-4 offset-4">
        <h1 class="display-4 border-bottom text-center pb-2"><b>@ViewData["Title"]</b></h1>
    </div>
</div>
<div class="row">
    <div class="col-4 offset-4">
        @using (Html.BeginForm("CommentLeave", "Comment", FormMethod.Post))
        {
            @Html.HiddenFor(x=>x.CommentID,new{@class="form-control"})
            //Guid ID Güncellenmeyecek
            <br />

            <b>Comment Message</b>
            @Html.TextAreaFor(x=>x.CommentMessage,new{@class="form-control",@rows="4"})
            <br />


            <div class="form-grop mb-3 d-grid">
                <button class="btn btn-info text-white d-block"><i class="fas fa-plus"></i>  <b>@ViewData["Title"]</b></button>
                <a href="/UserOperations/Gender/GenderList" class="btn btn-danger text-white"><i class="fas fa-sign-out-alt"></i>  <b>Cancel</b></a>
            </div>
        }
    </div>
</div>

