<!-- mian-content -->
<header class="index-banner" id="home">
    <!-- nav -->
    <nav class="main-header d-flex">
        <div id="brand">
            <div id="word-mark">
                <h1>
                    <a href="#">ASP.NETCOREMVC6.0</a>
                </h1>
            </div>
        </div>
        <div id="menu">
            <div id="menu-toggle">
                <div id="menu-icon">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </div>
            <ul class="text-center nav-honey">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a class="scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="scroll" href="#services">Projects</a>
                </li>
                <li>
                    <a class="scroll" href="#projects">
                        Gallery
                    </a>
                </li>

                <li class="login">
                    <a href="/Login/Index">Login  <i class="fas fa-sign-out-alt"></i></a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </nav>
    <!-- //nav -->
    <!-- banner -->
    <div class="banner_section">
        <div class="snow-container">
            <div class="snow foreground"></div>
            <div class="snow foreground layered"></div>
            <div class="snow middleground"></div>
            <div class="snow middleground layered"></div>
            <div class="snow background"></div>
            <div class="snow background layered"></div>
        </div>
        <div class="banner-info text-uppercase">
            <h5 data-aos="fade-right">E-TICARET Butık WebSıte</h5>
            <h3 data-text="ASP.NET CORE 6.0">
                ASP.NET CORE 6.0
            </h3>
            <div class="ban-buttons mt-3" data-aos="fade-right">
                <a class="btn btn-info" href="/MyProfileOperations/MyProfile/Index"><b>Here me</b></a>
            </div>

        </div>
    </div>
    <!-- //banner -->
</header>
<!-- //header -->