<div>
    <div class="row">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48236.45296222827!2d29.196744000000002!3d40.920606449999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac4f1dd92e915%3A0x7bf91a7dd7b26dcc!2sKartal%2F%C4%B0stanbul!5e0!3m2!1str!2str!4v1691401729599!5m2!1str!2str" width="600" height="1000" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>















        
        
        
        
        
        
