<!-- Masthead-->
<header class="bg-primary text-white text-center" style="background-image:url(~/img/Weather.png;)">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        @*<img class="masthead-avatar mb-5" src="~/User/assets/img/avataaars.svg" alt="..." />*@
        <!-- Masthead Heading-->
        <br />
        <br />
        <br />
        <br />
        <h2><i class="fas fa-user" style="font-size:100px;"></i></h2>
        <br />
        <h2 class="masthead-heading text-uppercase mb-0">Welcome @User.FindFirst("NameSurname").Value</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">
            Welcome to E-Commerce Boutique Website... We Wish You Pleasant Shopping
        </p>
        <br />
        <a class="btn btn-info" href="/UserOperations/Gender/GenderList" style="color:white; font-size:20px;"><i class="fas fa-shopping-cart"></i>  <b>Start Shopping</b></a>
        <br />
        <br />
        <br />
        <br />
    </div>
</header>